/*******************************************************************************
 * groupup.layout.scss
 *
 * Styling of the "groupup" layout
 * grids with Singularity.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/webs\/groupupchina\/sites\/all\/themes\/groupupchina\/sass\/layouts\/groupup\/groupup\.layout\.scss}line{font-family:\0000328}}
.l-header .inner,
.l-main .inner,
.l-footer .inner {
  max-width: 1200px;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/webs\/groupupchina\/sites\/all\/themes\/groupupchina\/sass\/layouts\/groupup\/groupup\.layout\.scss}line{font-family:\0000334}}
.l-header,
.l-main {
  *zoom: 1;
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/webs\/groupupchina\/sites\/all\/vendor\/bundle\/ruby\/1\.9\.1\/gems\/compass-0\.12\.5\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-header:after,
  .l-main:after {
    content: "";
    display: table;
    clear: both; }
